<form mix-patch="/api-update-travel/{{ travel.travel_pk }}" id="form_travel">
  <div>
    <label for="travel_country">Country*</label>
    <select name="travel_country">
      {% for country in x.COUNTRIES %}
      <option
        value="{{ country }}"
        {%
        if
        country
        is
        equalto
        travel.travel_country
        %}selected{%
        endif
        %}
      >
        {{ country }}
      </option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label for="travel_location"
      >Location*
      <span
        >{{x.TRAVEL_LOCATION_MIN}} to {{x.TRAVEL_LOCATION_MAX}} characters</span
      ></label
    >
    <input
      name="travel_location"
      type="text"
      placeholder="Location"
      value="{{ travel.travel_location if travel.travel_location else '' }}"
      mix-validate="{{x.REGEX_TRAVEL_LOCATION}}"
      id="travel_location"
    />
    <ul id="error_travel_location" class="form_error_message"></ul>
  </div>
  <div>
    <label for="travel_title"
      >Give your trip a title*
      <span
        >{{x.TRAVEL_TITLE_MIN}} to {{x.TRAVEL_TITLE_MAX}} characters</span
      ></label
    >
    <input
      name="travel_title"
      type="text"
      placeholder="Title"
      value="{{ travel.travel_title if travel.travel_title else '' }}"
      mix-validate="{{x.REGEX_TRAVEL_TITLE}}"
      id="travel_title"
    />
    <ul id="error_travel_title" class="form_error_message"></ul>
  </div>
  <div>
    <label for="travel_description">Describe your trip </label>
    <textarea name="travel_description" rows="4" cols="50" maxlength="500">
{{ travel.travel_description if travel.travel_description else '' }}</textarea
    >
  </div>
  <div>
    <label for="travel_arrival_date">Arrival date*</label>
    <input
      name="travel_arrival_date"
      type="date"
      value="{{ travel.travel_arrival_date }}"
      id="travel_arrival_date"
    />
    <ul id="error_travel_arrival_date" class="form_error_message"></ul>
  </div>
  <div>
    <label for="travel_departure_date">Departure date*</label>
    <input
      name="travel_departure_date"
      type="date"
      value="{{ travel.travel_departure_date }}"
      id="travel_departure_date"
    />
    <ul id="error_travel_departure_date" class="form_error_message"></ul>
  </div>
  <button>Update</button>
  <a href="/">Go back</a>
</form>
