<form mix-post="/api-create-travel" autocomplete="off" id="form_travel">
  <div>
    <label for="travel_country">Country*</label>
    <select name="travel_country">
      {% for country in x.COUNTRIES %}
      <option value="{{ country }}">{{ country }}</option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label for="travel_location"
      >Location*
      <span
        >{{x.TRAVEL_LOCATION_MIN}} to {{x.TRAVEL_LOCATION_MAX}} characters</span
      ></label
    >
    <input
      name="travel_location"
      type="text"
      placeholder="Location"
      mix-validate="{{x.REGEX_TRAVEL_LOCATION}}"
      id="travel_location"
    />
    <ul id="error_travel_location" class="form_error_message"></ul>
  </div>
  <div>
    <label for="travel_title"
      >Give your trip a title*
      <span
        >{{x.TRAVEL_TITLE_MIN}} to {{x.TRAVEL_TITLE_MAX}} characters</span
      ></label
    >
    <input
      name="travel_title"
      type="text"
      placeholder="Title"
      mix-validate="{{x.REGEX_TRAVEL_TITLE}}"
      id="travel_title"
    />
    <ul id="error_travel_title" class="form_error_message"></ul>
  </div>
  <div>
    <label for="travel_description">Describe your trip </label>
    <textarea
      name="travel_description"
      rows="4"
      cols="50"
      maxlength="500"
    ></textarea>
  </div>
  <div>
    <label for="travel_arrival_date">Arrival date*</label>
    <input name="travel_arrival_date" type="date" id="travel_arrival_date" />
    <ul id="error_travel_arrival_date" class="form_error_message"></ul>
  </div>
  <div>
    <label for="travel_departure_date">Departure date*</label>
    <input
      name="travel_departure_date"
      type="date"
      id="travel_departure_date"
    />
    <ul id="error_travel_departure_date" class="form_error_message"></ul>
  </div>
  <button>Create your travel</button>
</form>
