{% for travel in travels %}
<div class="travel" id="travel-{{ travel.travel_pk }}">
  <h2>{{ travel.travel_location }}</h2>
  <p>{{ travel.travel_description }}</p>
  <p>Arrival date: {{ travel.travel_arrival_date }}</p>
  <p>Departure date: {{ travel.travel_departure_date }}</p>
  <div class="delete_container">
    <button
      class="delete_button"
      mix-delete="/api-delete-travel/{{ travel.travel_pk }}"
    >
      <i class="fa fa-trash" style="pointer-events: none"></i>
    </button>
    <p class="delete_message hidden">Delete</p>
  </div>
</div>
{% endfor %}
