{% for travel in travels %}
<div class="travel" id="travel-{{ travel.travel_pk }}">
  <div class="delete_container">
    <button
      class="delete_button"
      mix-delete="/api-delete-travel/{{ travel.travel_pk }}"
    >
      <i class="fa fa-trash" style="pointer-events: none"></i>
    </button>
    <p class="delete_message hidden">Delete</p>
  </div>
  <div>
    <h2>{{ travel.travel_location }}</h2>
    <h3>{{ travel.travel_title }}</h3>
    <p>{{ travel.travel_description }}</p>
  </div>
  <div>
    <p>Arrival date: {{ travel.travel_arrival_date }}</p>
    <p>Departure date: {{ travel.travel_departure_date }}</p>
    <a href="/update-travel/{{ travel.travel_pk }}">Edit</a>
  </div>
</div>
{% endfor %}
