{% include "_header.html" %}
<main class="form_page">
  <form mix-patch="/api-update-travel/{{ travel.travel_pk }}">
    <div>
      <label for="travel_location">Where did you travel?*</label>
      <select name="travel_location">
        {% for country in x.COUNTRIES %}
        <option
          value="{{ country }}"
          {%
          if
          country
          is
          equalto
          travel.travel_location
          %}selected{%
          endif
          %}
        >
          {{ country }}
        </option>
        {% endfor %}
      </select>
    </div>

    <div>
      <label for="travel_title">Give your trip a title</label>
      <input
        name="travel_title"
        type="text"
        value="{{ travel.travel_title if travel.travel_title else '' }}"
        placeholder="Title"
      />
    </div>
    <div>
      <label for="travel_description">Describe your trip</label>
      <input
        name="travel_description"
        type="text"
        value="{{ travel.travel_description if travel.travel_description else '' }}"
        placeholder="Description"
      />
    </div>
    <div>
      <label for="travel_arrival_date">Arrival date*</label>
      <input
        name="travel_arrival_date"
        type="date"
        value="{{ travel.travel_arrival_date }}"
      />
    </div>
    <div>
      <label for="travel_departure_date">Departure date*</label>
      <input
        name="travel_departure_date"
        type="date"
        value="{{ travel.travel_departure_date }}"
      />
    </div>
    <button>Update</button>
    <a href="/">Go back</a>
  </form>
</main>
{% include "_footer.html" %}
